@font-face {
  font-family: "Sherwood";
  src: url(sherwood.ttf) format("truetype");
}

html {
  background-color: #39494a;
  background-image: url("https://www.transparenttextures.com/patterns/buried.png");
}

body {
  font-family: "Sherwood";
}
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
main {
  width: 100%;
  display: flex;
}

section {
  text-align: center;
  height: 59vh;
}

img {
  max-width: 100%;
}

.class {
  height: 10vh;
}

.menu {
  width: 5vw;
}

.stats {
  color: black;
  width: 20vw;
}

.stat-value {
  background-color: black;
  color: white;
}

.portrait {
  width: 50vw;
}

.lore {
  width: 25vw;
}
.lore-info {
  background-color: #ca9f67;
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
