@font-face {
  font-family: "Sherwood";
  src: url(sherwood.ttf) format("truetype");
}

html {
  background-color: #39494a;
  background-image: url("https://www.transparenttextures.com/patterns/buried.png");
}

body {
  font-family: "Sherwood";
}
h1 {
  text-align: center;
}
main {
  width: 100%;
  display: flex;
}

section {
  width: 33vw;
  height: 80vh;
  text-align: center;
}

img {
  max-width: 100%;
}

.stats {
  color: #black;
}

.stat-value {
  background-color: black;
  color: white;
}

.lore {
  background-color: #ca9f67;
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
